<!-- <h2 class="top-buffer">Teaching</h2> -->
<h3> Instructor — UC Berkeley </h3>
<a href="https://amypavel.com/teaching/cs160su18/">
  CS 160: User interface design and development
</a><br>
<em>Summer 2018</em><p></p>
<p></p><h3> Graduate Student Instructor (TA) — UC Berkeley </h3>
CS 160: User interface design and development<br><em>Summer 2017</em><p></p>

<p></p><h3> Project Advisor — UC Berkeley </h3>
<a href="https://classes.berkeley.edu/content/2017-fall-nwmedia-190-001-lec-001">
  NWMEDIA 190: Making Sense of Cultural Data
</a><br><em>Fall 2017</em><p></p>
<!-- <h3> Graduate student instructor &mdash; UC Berkeley </h3>
*Summer 2017*
-->
<p></p><h3> Instructor (Workshop) — UC Berkeley </h3>
<a href="https://cs-kickstart.berkeley.edu/">
  CS Kickstart, intro CS for incoming freshmen women
</a>
<br><em>Summer 2012</em><p></p>



<!-- 

<dl class="teaching">
  <dt>Summer 2018</dt>
  <dd>
    <p>Instructor</p>
    <p><a href="https://amypavel.com/teaching/cs160su18/">
      CS 160: User interface design and development
    </a>
    </p>
  </dd>

  <dt>Fall 2017</dt>
  <dd>
    <p>Project advisor</p>
    <p><a href="https://classes.berkeley.edu/content/2017-fall-nwmedia-190-001-lec-001">
      NWMEDIA 190: Making Sense of Cultural Data
    </a></p>
  </dd>

  <dt>Summer 2017</dt>
  <dd>
    <p>Teaching assistant</p>
    <p>CS 160: User interface design and development</p>
  </dd>

  <dt>Summer 2012</dt>
  <dd>
    <p>Instructor</p>
    <p>
      <a href="https://cs-kickstart.berkeley.edu/">
        CS Kickstart, intro CS for incoming freshmen women
      </a>
    </p>
  </dd>
</dl> -->
