<dl class="teaching">
  <dt>Summer 2018</dt>
  <dd>
    <p>Instructor</p>
    <p><a href="https://amypavel.com/teaching/cs160su18/">
      CS 160: User interface design and development
    </a>
    </p>
  </dd>

  <dt>Fall 2017</dt>
  <dd>
    <p>Project advisor</p>
    <p><a href="https://classes.berkeley.edu/content/2017-fall-nwmedia-190-001-lec-001">
      NWMEDIA 190: Making Sense of Cultural Data
    </a></p>
  </dd>

  <dt>Summer 2017</dt>
  <dd>
    <p>Teaching assistant</p>
    <p>CS 160: User interface design and development</p>
  </dd>

  <dt>Summer 2012</dt>
  <dd>
    <p>Instructor</p>
    <p>
      <a href="https://cs-kickstart.berkeley.edu/">
        CS Kickstart, intro CS for incoming freshmen women
      </a>
    </p>
  </dd>
</dl>
